
<h3 class="text-center">Pizzerria now gives you options to build your own pizza. Customize your pizza by choosing ingredients from the list given below.</h3>
<div class="container">
 <table class="ingredient-table">
 <tr *ngFor="let item of ingredients">
    <td>
        <img [src]="item.image" alt="{{item.name}}">
    </td>
     <td>
        <strong>{{ item.tname }} {{ item.price | currency : 'INR' }}</strong>
    </td>
     <td class="checkboxes">
        <input type="checkbox" [checked]="item.selected" (change)="onCheckboxChange(item)"> Add
    </td>
</tr>
</table>
<div class="total">
    <h4>Total Cost : {{ ingTotalCost | currency : 'INR' }}</h4>
 </div>
  <div class="text-center">
    <button class="build-btn" (click)="buildPizza()">Build Ur Pizza</button>
</div>
</div>