.home-container {
  width: 75%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.column {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 50px 0;
}

img {
  width: 50%;
}

.delivery {
  display: flex;
  align-items: center;
  gap: 30px;
}





