<nav class="navbar">
    <div class="nav-left">
        <img src="../../assets/pizzeria-logo.jpg" alt="pizzeria logo" class="logo">
        <a routerLink="/"><span class="brand-name">Pizzeria</span></a>
    <a routerLink="/order" routerLinkActive="selected-active">  Order Pizza</a>
    <a routerLink="/build" routerLinkActive="selected-active">  Build Your Pizza</a>
    </div>
    <div class="nav-right" >
        
        <a routerLink="/cart" class="cart-btn" routerLinkActive="selected-cart-active">
            <i class="fa fa-shopping-cart"></i>
            <span class="cart-text">Cart</span>
        </a>
        
    </div>
</nav>